.backhome {
    background-image: url('../assets/pexels-pixabay-207691.jpg')
}

.adminback {
    background-image: url('../assets/pexels-pixabay-356065.jpg')
}

.studentback {
    background-image: url('../assets/pexels-pixabay-256395.jpg')
}